.Footer {
	background-color: darkseagreen;
	color: black;
	font-weight: bolder;
	font-size: 18px;
	padding: 6px;
	text-align: center;
}

.foot {
	display: inline-block;
	color: floralwhite;
	vertical-align: middle;
}

.foot1 {
	color: aliceblue;
	display: inline-block;
	vertical-align: middle;
}

.foot1 a {
	text-decoration: none;
	color: black;
}

.foot1 a:hover {
	text-decoration: underline;
	color: papayawhip;
}