.containerLayout{
    background: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
    overflow: hidden;
  }
  
  .filter-placeholder-text {
    color: royalblue;
    font-weight: bolder;
  }
  
  @media screen and (max-width: 500px) {
    .containerLayout{
      padding: 10px;
    }
  }